In [18]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [46]:
# Read data
df = pd.read_csv(('/Users/tanonchokkhanchitchai/Desktop/kongphop_tanon_nachat_307/processed_data/incidents_with_clusters.csv'))
df.drop(columns=['description_en'], inplace=True)

# Convert starttime to datetime with mixed format handling
df['starttime'] = pd.to_datetime(df['starttime'], format='mixed')

# Remove data for specific dates (2020-12-31, Jan 2022, Nov-Dec 2022)
dates_to_remove = pd.to_datetime([
    '2020-12-31',
    # January 2022
    '2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05',
    '2022-01-06', '2022-01-07', '2022-01-08', '2022-01-09', '2022-01-10',
    '2022-01-11', '2022-01-12', '2022-01-13', '2022-01-14', '2022-01-15',
    '2022-01-16', '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20',
    '2022-01-21', '2022-01-22', '2022-01-23', '2022-01-24', '2022-01-25',
    '2022-01-26', '2022-01-27', '2022-01-28', '2022-01-29', '2022-01-30',
    '2022-01-31',
    # November 2022
    '2022-11-01', '2022-11-02', '2022-11-03', '2022-11-04', '2022-11-05',
    '2022-11-06', '2022-11-07', '2022-11-08', '2022-11-09', '2022-11-10',
    '2022-11-11', '2022-11-12', '2022-11-13', '2022-11-14', '2022-11-15',
    '2022-11-16', '2022-11-17', '2022-11-18', '2022-11-19', '2022-11-20',
    '2022-11-21', '2022-11-22', '2022-11-23', '2022-11-24', '2022-11-25',
    '2022-11-26', '2022-11-27', '2022-11-28', '2022-11-29', '2022-11-30',
    # December 2022
    '2022-12-01', '2022-12-02', '2022-12-03', '2022-12-04', '2022-12-05',
    '2022-12-06', '2022-12-07', '2022-12-08', '2022-12-09', '2022-12-10',
    '2022-12-11', '2022-12-12', '2022-12-13', '2022-12-14', '2022-12-15',
    '2022-12-16', '2022-12-17', '2022-12-18', '2022-12-19', '2022-12-20',
    '2022-12-21', '2022-12-22', '2022-12-23', '2022-12-24', '2022-12-25',
    '2022-12-26', '2022-12-27', '2022-12-28', '2022-12-29', '2022-12-30',
    '2022-12-31'
]).date

df = df[~df['starttime'].dt.date.isin(dates_to_remove)]

print(f"Removed {len(dates_to_remove)} dates from the data")


# Extract time (hour) and day of week from starttime
df['hour'] = df['starttime'].dt.hour
df['day_of_week'] = df['starttime'].dt.dayofweek  # 0=Monday, 6=Sunday
df['is_weekend'] = df['day_of_week'].isin([5, 6])  # Saturday=5, Sunday=6

# Split dataframe into 5 time-based groups, then by weekday/weekend
df_early_weekday = df[(df['hour'] >= 0) & (df['hour'] < 6) & (~df['is_weekend'])]
df_early_weekend = df[(df['hour'] >= 0) & (df['hour'] < 6) & (df['is_weekend'])]

df_morning_weekday = df[(df['hour'] >= 6) & (df['hour'] < 10) & (~df['is_weekend'])]
df_morning_weekend = df[(df['hour'] >= 6) & (df['hour'] < 10) & (df['is_weekend'])]

df_midday_weekday = df[(df['hour'] >= 10) & (df['hour'] < 16) & (~df['is_weekend'])]
df_midday_weekend = df[(df['hour'] >= 10) & (df['hour'] < 16) & (df['is_weekend'])]

df_evening_weekday = df[(df['hour'] >= 16) & (df['hour'] < 21) & (~df['is_weekend'])]
df_evening_weekend = df[(df['hour'] >= 16) & (df['hour'] < 21) & (df['is_weekend'])]

df_night_weekday = df[(df['hour'] >= 21) & (df['hour'] < 24) & (~df['is_weekend'])]
df_night_weekend = df[(df['hour'] >= 21) & (df['hour'] < 24) & (df['is_weekend'])]

# Display the count of records in each time period and day type
print("WEEKDAY DATA:")
print(f"Early Morning (0:00-6:00): {len(df_early_weekday)} records")
print(f"Morning (6:00-10:00): {len(df_morning_weekday)} records")
print(f"Midday (10:00-16:00): {len(df_midday_weekday)} records")
print(f"Evening (16:00-21:00): {len(df_evening_weekday)} records")
print(f"Late Night (21:00-23:59): {len(df_night_weekday)} records")
print(f"Total Weekday: {len(df_early_weekday) + len(df_morning_weekday) + len(df_midday_weekday) + len(df_evening_weekday) + len(df_night_weekday)} records")

print("\nWEEKEND DATA:")
print(f"Early Morning (0:00-6:00): {len(df_early_weekend)} records")
print(f"Morning (6:00-10:00): {len(df_morning_weekend)} records")
print(f"Midday (10:00-16:00): {len(df_midday_weekend)} records")
print(f"Evening (16:00-21:00): {len(df_evening_weekend)} records")
print(f"Late Night (21:00-23:59): {len(df_night_weekend)} records")
print(f"Total Weekend: {len(df_early_weekend) + len(df_morning_weekend) + len(df_midday_weekend) + len(df_evening_weekend) + len(df_night_weekend)} records")

Removed 93 dates from the data
WEEKDAY DATA:
Early Morning (0:00-6:00): 2328 records
Morning (6:00-10:00): 5194 records
Midday (10:00-16:00): 7058 records
Evening (16:00-21:00): 6154 records
Late Night (21:00-23:59): 2429 records
Total Weekday: 23163 records

WEEKEND DATA:
Early Morning (0:00-6:00): 1337 records
Morning (6:00-10:00): 1246 records
Midday (10:00-16:00): 2075 records
Evening (16:00-21:00): 1969 records
Late Night (21:00-23:59): 1195 records
Total Weekend: 7822 records

In [50]:
# Extract date from starttime for all dataframes
df_early_weekday['date'] = df_early_weekday['starttime'].dt.date
df_early_weekend['date'] = df_early_weekend['starttime'].dt.date
df_morning_weekday['date'] = df_morning_weekday['starttime'].dt.date
df_morning_weekend['date'] = df_morning_weekend['starttime'].dt.date
df_midday_weekday['date'] = df_midday_weekday['starttime'].dt.date
df_midday_weekend['date'] = df_midday_weekend['starttime'].dt.date
df_evening_weekday['date'] = df_evening_weekday['starttime'].dt.date
df_evening_weekend['date'] = df_evening_weekend['starttime'].dt.date
df_night_weekday['date'] = df_night_weekday['starttime'].dt.date
df_night_weekend['date'] = df_night_weekend['starttime'].dt.date

# Create complete date ranges with weekday/weekend criteria
min_date = df['starttime'].dt.date.min()
max_date = df['starttime'].dt.date.max()

# Generate all dates in the range
all_dates = pd.date_range(start=min_date, end=max_date, freq='D')

# Remove dates from January 2022, November 2022, and December 2022
dates_to_exclude = pd.to_datetime([
    # January 2022
    '2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05',
    '2022-01-06', '2022-01-07', '2022-01-08', '2022-01-09', '2022-01-10',
    '2022-01-11', '2022-01-12', '2022-01-13', '2022-01-14', '2022-01-15',
    '2022-01-16', '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20',
    '2022-01-21', '2022-01-22', '2022-01-23', '2022-01-24', '2022-01-25',
    '2022-01-26', '2022-01-27', '2022-01-28', '2022-01-29', '2022-01-30',
    '2022-01-31',
    # November 2022
    '2022-11-01', '2022-11-02', '2022-11-03', '2022-11-04', '2022-11-05',
    '2022-11-06', '2022-11-07', '2022-11-08', '2022-11-09', '2022-11-10',
    '2022-11-11', '2022-11-12', '2022-11-13', '2022-11-14', '2022-11-15',
    '2022-11-16', '2022-11-17', '2022-11-18', '2022-11-19', '2022-11-20',
    '2022-11-21', '2022-11-22', '2022-11-23', '2022-11-24', '2022-11-25',
    '2022-11-26', '2022-11-27', '2022-11-28', '2022-11-29', '2022-11-30',
    # December 2022
    '2022-12-01', '2022-12-02', '2022-12-03', '2022-12-04', '2022-12-05',
    '2022-12-06', '2022-12-07', '2022-12-08', '2022-12-09', '2022-12-10',
    '2022-12-11', '2022-12-12', '2022-12-13', '2022-12-14', '2022-12-15',
    '2022-12-16', '2022-12-17', '2022-12-18', '2022-12-19', '2022-12-20',
    '2022-12-21', '2022-12-22', '2022-12-23', '2022-12-24', '2022-12-25',
    '2022-12-26', '2022-12-27', '2022-12-28', '2022-12-29', '2022-12-30',
    '2022-12-31'
]).date

# Filter out excluded dates
all_dates_filtered = pd.DatetimeIndex([d for d in all_dates if d.date() not in dates_to_exclude])

# Create boolean masks for weekdays and weekends
weekday_mask = all_dates_filtered.dayofweek < 5  # Monday=0 to Friday=4
weekend_mask = all_dates_filtered.dayofweek >= 5  # Saturday=5, Sunday=6

# Get all weekday dates and weekend dates (excluding the specified months)
all_weekday_dates = all_dates_filtered[weekday_mask].date
all_weekend_dates = all_dates_filtered[weekend_mask].date

# Define all possible cluster groups (0 to 299)
all_cluster_groups = list(range(300))

# Create pivot tables for each time period and day type, then reindex with complete date ranges and cluster groups
pivot_early_weekday = df_early_weekday.pivot_table(
    index='date', 
    columns='cluster_group', 
    aggfunc='size', 
    fill_value=0
).reindex(columns=all_cluster_groups, fill_value=0).reindex(all_weekday_dates, fill_value=0)

pivot_early_weekend = df_early_weekend.pivot_table(
    index='date', 
    columns='cluster_group', 
    aggfunc='size', 
    fill_value=0
).reindex(columns=all_cluster_groups, fill_value=0).reindex(all_weekend_dates, fill_value=0)

pivot_morning_weekday = df_morning_weekday.pivot_table(
    index='date', 
    columns='cluster_group', 
    aggfunc='size', 
    fill_value=0
).reindex(columns=all_cluster_groups, fill_value=0).reindex(all_weekday_dates, fill_value=0)

pivot_morning_weekend = df_morning_weekend.pivot_table(
    index='date', 
    columns='cluster_group', 
    aggfunc='size', 
    fill_value=0
).reindex(columns=all_cluster_groups, fill_value=0).reindex(all_weekend_dates, fill_value=0)

pivot_midday_weekday = df_midday_weekday.pivot_table(
    index='date', 
    columns='cluster_group', 
    aggfunc='size', 
    fill_value=0
).reindex(columns=all_cluster_groups, fill_value=0).reindex(all_weekday_dates, fill_value=0)

pivot_midday_weekend = df_midday_weekend.pivot_table(
    index='date', 
    columns='cluster_group', 
    aggfunc='size', 
    fill_value=0
).reindex(columns=all_cluster_groups, fill_value=0).reindex(all_weekend_dates, fill_value=0)

pivot_evening_weekday = df_evening_weekday.pivot_table(
    index='date', 
    columns='cluster_group', 
    aggfunc='size', 
    fill_value=0
).reindex(columns=all_cluster_groups, fill_value=0).reindex(all_weekday_dates, fill_value=0)

pivot_evening_weekend = df_evening_weekend.pivot_table(
    index='date', 
    columns='cluster_group', 
    aggfunc='size', 
    fill_value=0
).reindex(columns=all_cluster_groups, fill_value=0).reindex(all_weekend_dates, fill_value=0)

pivot_night_weekday = df_night_weekday.pivot_table(
    index='date', 
    columns='cluster_group', 
    aggfunc='size', 
    fill_value=0
).reindex(columns=all_cluster_groups, fill_value=0).reindex(all_weekday_dates, fill_value=0)

pivot_night_weekend = df_night_weekend.pivot_table(
    index='date', 
    columns='cluster_group', 
    aggfunc='size', 
    fill_value=0
).reindex(columns=all_cluster_groups, fill_value=0).reindex(all_weekend_dates, fill_value=0)

# Display summary
print(f"Data spans from {min_date} to {max_date}")
print(f"Total weekday dates (excluding Jan, Nov, Dec 2022): {len(all_weekday_dates)}")
print(f"Total weekend dates (excluding Jan, Nov, Dec 2022): {len(all_weekend_dates)}")
print(f"Total cluster groups (columns): {len(all_cluster_groups)} (0 to 299)")
print(f"Note: Dates from Jan 2022, Nov 2022, and Dec 2022 have been excluded")

display(pivot_early_weekday)
display(pivot_early_weekend)
display(pivot_morning_weekday)
display(pivot_morning_weekend)

Data spans from 2021-01-01 to 2023-07-03
Total weekday dates (excluding Jan, Nov, Dec 2022): 587
Total weekend dates (excluding Jan, Nov, Dec 2022): 235
Total cluster groups (columns): 300 (0 to 299)
Note: Dates from Jan 2022, Nov 2022, and Dec 2022 have been excluded

cluster_group,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
date,,,,,,,,,,,,,,,,,,,,,
2021-01-01,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2021-01-04,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2021-01-05,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2021-01-06,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2021-01-07,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2023-06-28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2023-06-29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2023-06-30,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2023-07-03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

cluster_group,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
date,,,,,,,,,,,,,,,,,,,,,
2021-01-02,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2021-01-03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2021-01-09,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2021-01-10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2021-01-16,0,2,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2023-06-24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2023-06-25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2023-07-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2023-07-02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

cluster_group,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
date,,,,,,,,,,,,,,,,,,,,,
2021-01-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2021-01-04,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2021-01-05,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2021-01-06,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2021-01-07,0,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2023-06-28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2023-06-29,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2023-06-30,0,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2023-07-03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

cluster_group,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
date,,,,,,,,,,,,,,,,,,,,,
2021-01-02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2021-01-03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2021-01-09,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2021-01-10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2021-01-16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2023-06-24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2023-06-25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2023-07-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2023-07-02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [51]:
# Save all pivot tables to CSV files
import os

# Create output directory if it doesn't exist
output_dir = '/Users/tanonchokkhanchitchai/Desktop/kongphop_tanon_nachat_307/processed_data/accident_tables/'
os.makedirs(output_dir, exist_ok=True)

# Dictionary of all pivot tables
pivot_tables = {
    'wd_early_accidents.csv': pivot_early_weekday,
    'wn_early_accidents.csv': pivot_early_weekend,
    'wd_morning_accidents.csv': pivot_morning_weekday,
    'wn_morning_accidents.csv': pivot_morning_weekend,
    'wd_midday_accidents.csv': pivot_midday_weekday,
    'wn_midday_accidents.csv': pivot_midday_weekend,
    'wd_evening_accidents.csv': pivot_evening_weekday,
    'wn_evening_accidents.csv': pivot_evening_weekend,
    'wd_night_accidents.csv': pivot_night_weekday,
    'wn_night_accidents.csv': pivot_night_weekend,
}



for filename, pivot_table in pivot_tables.items():
    filepath = os.path.join(output_dir, filename)
    pivot_table.to_csv(filepath)
    print(f"✓ Saved: {filename}")
    print(f"  Location: {filepath}")
    print(f"  Shape: {pivot_table.shape} (rows, columns)")
    print()

✓ Saved: wd_early_accidents.csv
  Location: /Users/tanonchokkhanchitchai/Desktop/kongphop_tanon_nachat_307/processed_data/accident_tables/wd_early_accidents.csv
  Shape: (587, 300) (rows, columns)

✓ Saved: wn_early_accidents.csv
  Location: /Users/tanonchokkhanchitchai/Desktop/kongphop_tanon_nachat_307/processed_data/accident_tables/wn_early_accidents.csv
  Shape: (235, 300) (rows, columns)

✓ Saved: wd_morning_accidents.csv
  Location: /Users/tanonchokkhanchitchai/Desktop/kongphop_tanon_nachat_307/processed_data/accident_tables/wd_morning_accidents.csv
  Shape: (587, 300) (rows, columns)

✓ Saved: wn_morning_accidents.csv
  Location: /Users/tanonchokkhanchitchai/Desktop/kongphop_tanon_nachat_307/processed_data/accident_tables/wn_morning_accidents.csv
  Shape: (235, 300) (rows, columns)

✓ Saved: wd_midday_accidents.csv
  Location: /Users/tanonchokkhanchitchai/Desktop/kongphop_tanon_nachat_307/processed_data/accident_tables/wd_midday_accidents.csv
  Shape: (587, 300) (rows, columns)

✓ Saved: wn_midday_accidents.csv
  Location: /Users/tanonchokkhanchitchai/Desktop/kongphop_tanon_nachat_307/processed_data/accident_tables/wn_midday_accidents.csv
  Shape: (235, 300) (rows, columns)

✓ Saved: wd_evening_accidents.csv
  Location: /Users/tanonchokkhanchitchai/Desktop/kongphop_tanon_nachat_307/processed_data/accident_tables/wd_evening_accidents.csv
  Shape: (587, 300) (rows, columns)

✓ Saved: wn_evening_accidents.csv
  Location: /Users/tanonchokkhanchitchai/Desktop/kongphop_tanon_nachat_307/processed_data/accident_tables/wn_evening_accidents.csv
  Shape: (235, 300) (rows, columns)

✓ Saved: wd_night_accidents.csv
  Location: /Users/tanonchokkhanchitchai/Desktop/kongphop_tanon_nachat_307/processed_data/accident_tables/wd_night_accidents.csv
  Shape: (587, 300) (rows, columns)

✓ Saved: wn_night_accidents.csv
  Location: /Users/tanonchokkhanchitchai/Desktop/kongphop_tanon_nachat_307/processed_data/accident_tables/wn_night_accidents.csv
  Shape: (235, 300) (rows, columns)